---
layout: default
title: Past Courses and Training Events
permalink: /courses/past-courses/

---
<div class="row">

  <div class="col-sm-12">
    <p>
    <h3>Past courses and training events</h3>
    </p>
    <div class="panel-group " id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              SARS-CoV-2 NGS training course 2021 for Africa CDC</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <p>
              {% for post in site.posts %}
              {% if post.categories contains "past-course" %}
              <li class="list-unstyled">
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                <p>{{post.course_overview}}</p>


              </li>
              {% endif %}
              {% endfor %}
            </p>


          </div>
        </div>
      </div>
    </div>
  </div>








</div>