---
layout: default
title: Related courses
permalink: /courses/related-courses/
---
<div class="row">
  <div class="col-sm-12">
    <p>

    </p>

    <div id="section1" class="blockx side_menu_bg ">
      <h3>Related courses</h3>
      <hr>


      {% for post in site.posts %}
      {% if post.categories contains "related" %}
      <li class="list-unstyled">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <p>{{post.course_overview}}</p><small class="text-muted">posted:{{post.posted_date
          | date_to_string}} </small>


      </li>
      {% endif %}
      {% endfor %}



    </div>

  </div>
</div>