---
layout: default
title: Upcoming courses
permalink: /courses/upcoming-courses/
---

<div class="row">
  <div class="col-sm-12">
    <p>

    </p>

    <div id="section1" class="blockx side_menu_bg ">
      <h3>Upcoming and current courses</h3>
      <hr>


      {% for post in site.posts %}
      {% if post.categories contains "upcoming" %}
      <li class="list-unstyled">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br>{{post.start_date | date_to_string}} - {{post.end_date| date_to_string}}
        <p>{{post.course_overview}}<small class="text-muted"> posted: {{post.date
            | date_to_string}} </small></p>


      </li>
      {% endif %}
      {% endfor %}



    </div>

  </div>
</div>