<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}</title>
    <meta name="description"
        content="{% if page.description %} {{page.description}} {% else %} {{site.description}} {% endif %}">
    <base href="{{ site.url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <style>
        #map1 {
            height: 250px;
            width: 540px;

        }

        .survey_button {
            color: white !important;
        }
    </style>
    <!-- CSS -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/responsive.css">



    <link rel="stylesheet" type="text/css" href="css/bootstrap-sidermenu.css" />
    <!-- came with side bar -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script> -->
    <!-- came with side bar -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

    <!-- Js -->
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/min/waypoints.min.js"></script>
    <script src="js/jquery.counterup.js"></script>
    <script type="text/javascript" src="js/bootstrap-sidermenu.js"></script>
    <script src="js/jquery.dataTables.js"></script>
    <!-- Google Map -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
    <script src="js/google-map-init.js"></script>


    <script src="js/main.js"></script>
    <script type="application/ld+json">
    
        {
            "@context": "https://schema.org/",
            "@id": "./",
            "@type": "Course",
            "name": "Advanced Training: Developing Workflows",
            "description": "High-throughput laboratory machines generate large quantities of raw biological data. Processing the data to generate useful information involves using several tools and sometimes setting up complex bioinformatics analysis environments across heterogeneous computing devices. Bioinformatics workflows and workflow managers allow reproducibility and portability of analysis plans and optimization of available computing resources. The Advanced Training: Developing Workflows workshop was aimed at introducing, deploying Nextflow, a too which enables scalable and reproducible scientific workflows. ",
            
            "hasCourseInstance": 
            [
              {
                "@type": "CourseInstance",
                "courseMode": "part-time",
                "endDate": "2022-04-29",
                "location": "KEMRI / WELLCOME TRUST Kilifi, Kenya",
                "startDate": "2022-04-25"
              },
          
  
            ]
      
          }
        </script>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LQVLLC7ZE5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LQVLLC7ZE5');
</script>


</head>
<!-- Header Start -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="name_on_nav text-center">
                    <p>
                    <h3>NGS Academy for the Africa CDC Pathogen Genomics Initiative</h3>
                    </p>
                </div>

                <!-- header Nav Start -->
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- <a class="navbar-brand" href="index.html">
                                <img src="img/logo.png" alt="Logo">
                            </a> -->
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">

                                <li {% if page.url=="/" %}class="active" {% endif %}><a href="{{ site.url }}">Home</a>
                                </li>

                                <li {% if page.url=="/about/" %}class="active" {% endif %}><a
                                        href="{{ site.url }}about/">About</a>


                                    <!-- <li {% if page.url=="/courses/" %}class="active" {% endif %}><a
                                        href="courses">Courses</a>
                                </li> -->


                                <li class="nav-item dropdown" {% if page.url=="/courses/" %}class="active" {% endif %}>
                                    <a class="nav-link  dropdown-toggle" href="{{ site.url }}courses/"
                                        data-bs-toggle="dropdown-1">Courses</a>
                                    <ul class="dropdown-menu">

                                        <li><a class="dropdown-item" href="{{ site.url }}calendar/">Calendar</a>
                                        </li>
                                        <li><a class="dropdown-item" href="{{ site.url }}courses/upcoming-courses/">
                                                Upcoming
                                                Courses</a>
                                        </li>

                                        <!-- <li><a class="dropdown-item"
                                                href="{{ site.url }}courses/available-courses/">Available Courses</a>
                                        </li> -->

                                        <li><a class="dropdown-item" href="{{ site.url }}courses/past-courses/"> Past
                                                Courses and
                                                Training Events</a>
                                        </li>

                                        <li><a class="dropdown-item" href="{{ site.url }}courses/other-courses">Other
                                                Pathogen
                                                Surveillance Courses</a>
                                        </li>
                                        <li><a class="dropdown-item" href="{{ site.url }}courses/bioinformatics-profiles">
                                        Bioinformatics Profiles</a>
                                    </li>

                                        <!-- <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
                                        <li><a class="dropdown-item" href="#"> Submenu item 3 </a></li> -->
                                    </ul>

                                </li>



                                <li class="nav-item dropdown" {% if page.url=="/resources/" %}class="active" {% endif
                                    %}><a class="nav-link  dropdown-toggle" href="{{ site.url }}resources"
                                        data-bs-toggle="dropdown-1"> Tools & Resources</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ site.url }}resources/training-materials/">
                                            Training Materials</a>
                                    </li>
                                        <li><a class="dropdown-item" href="{{ site.url }}resources/pha4ge/">
                                            PHA4GE</a>
                                    </li>
                                        <li><a class="dropdown-item" href="{{ site.url }}resources/publications/">
                                                Publications</a>
                                        </li>
                                        <!-- <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
                                        <li><a class="dropdown-item" href="#"> Submenu item 3 </a></li> -->
                                    </ul>

                                </li>



                                <li {% if page.url=="/contact/" %}class="active" {% endif %}><a
                                        href="{{ site.url }}contact">Contact</a>
                                </li>


                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    </div>
</header><!-- header close -->

<body>
    <div class="container">
        {% include subpage-header.html %}

    </div>


    <div class="container">
        <div class="row">
            <p></p>
            <div class="container">
                <div>

                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div>
                            {% include side-nav_js.html %}
                            <hr>
                            Click <a href="https://redcap.h3abionet.org/redcap/surveys/?s=FCA9MTKHPH"
                                class="btn btn-sm btn-default">here</a> for the training survey

                        </div>
                    </div>

                </div>


                <div class="col-lg-10 col-md-10 col-sm-10 main_container_section" class="my-auto">
                    <div class="">
                        {% include subpage-intro.html %}
                        <hr>
                    </div>
                    {{content}}
                </div>

            </div>


        </div>


    </div>

    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <p class="text-dark">Copyright &copy; <a href="http://www.cbio.uct.ac.za/">CBIO-UCT</a>
                    {{ 'now' | date: "%Y" }}</p>
            </div>
        </div>
    </footer>
</body>

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
<script>


    var map = L.map('map1').setView([-33.942, 18.463], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([-33.942, 18.463]).addTo(map)




    document.addEventListener("DOMContentLoaded", function () {
        // make it as accordion for smaller screens
        if (window.innerWidth > 992) {

            document.querySelectorAll('.navbar .nav-item').forEach(function (everyitem) {

                everyitem.addEventListener('mouseover', function (e) {

                    let el_link = this.querySelector('a[data-bs-toggle]');

                    if (el_link != null) {
                        let nextEl = el_link.nextElementSibling;
                        el_link.classList.add('show');
                        nextEl.classList.add('show');
                    }

                });



                everyitem.addEventListener('click', function (e) {

                    let el_link = this.querySelector('a[data-bs-toggle]');

                    if (el_link != null) {
                        let nextEl = el_link.nextElementSibling;
                        el_link.classList.add('show');
                        nextEl.classList.add('show');
                    }

                });

                everyitem.addEventListener('mouseleave', function (e) {
                    let el_link = this.querySelector('a[data-bs-toggle]');

                    if (el_link != null) {
                        let nextEl = el_link.nextElementSibling;
                        el_link.classList.remove('show');
                        nextEl.classList.remove('show');
                    }


                })
            });

        }
        // end if innerWidth
    });
// DOMContentLoaded  end


</script>